<!DOCTYPE html>
<html>

<head>
    <title>My Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">

    <!-- Stylesheets. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,700&amp;subset=hebrew" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://npcoding.investmart.initech.host/static/CACHE/css/8411ca4ee037.css" type="text/css" /> -->
         <link href="static/css/one.css" type="text/css" rel="stylesheet">

</head>

<body>
    <style>
        #map {
            min-height: 640px;
            height: 150%;
            position: fixed;
            overflow: 100%;
        }

        html,
        body {

            height: 100%;
            max-width: 100%;
            margin: 0px;

        }
    </style>
  <nav class=" navbar navbar-light fixed-top" role="navigation" style="max-width: 100%" aria-label="main navigation">
        <div class="mobile menu-link d-block d-lg-none">
                <a id="open-menu" title="close menu">
                <i class="fa fa-bars"></i>
                </a>
             </div>
             <nav id="mobile-menu" class="d-flex flex-column d-lg-none">
               <ul>
                  <li>
                     <a  id="close-mobile-menu" target="_blank" rel="noopener noreferrer"><i class="fa fa-times" title="close menu"></i></a>
                  </li>
                  <li class="sub-menu-title">About</li> 
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/about-en/" title="Who We Are" target="_blank" rel="noopener noreferrer">Who We Are</a></li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/our-values-en/" title="Our Values" target="_blank" rel="noopener noreferrer">Our Values</a></li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/the-investmart-platform-en/" title="The Platform" target="_blank" rel="noopener noreferrer">The Platform</a></li>
                  <li><a class="inner" href="https://en.goinvestmart.com/management-services-en/" title="Management Services">Management Services</a></li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/help-centre-faqs-en/" title="FAQs" target="_blank" rel="noopener noreferrer">FAQs</a></li>
                  <li><a href="https://en.npcoding.investmart.initech.host/how-it-works-en/" title="How it Works" target="_blank" rel="noopener noreferrer">How it Works</a></li>
                  <li><a href="https://en.goinvestmart.com/contact/" title="&rlm;Contact us">&rlm;Contact us</a></li>
                  <li class="sub-menu-title">Learn</li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/real-estate-calculation-excel-templates/" title="Calculators" target="_blank" rel="noopener noreferrer">Calculators</a></li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/investmart-ebook-your-guide-overseas-property-markets/" title="Investing Ebook" target="_blank" rel="noopener noreferrer">Investing Ebook</a></li>
                  <li><a class="inner" href="https://en.npcoding.investmart.initech.host/blog-en/" title="&rlm;Investmart Blog" target="_blank" rel="noopener noreferrer">&rlm;Investmart Blog</a></li>
                  <li><a href="https://en.npcoding.investmart.initech.host/property-market-analysis-en/" title="Analyse" target="_blank" rel="noopener noreferrer">Analyse</a></li>
                  <li><a href="https://en.npcoding.investmart.initech.host/projects-en/" title="Invest" target="_blank" rel="noopener noreferrer">Invest</a></li>
                  <li><a href="/accounts/sign-in/" target="_blank" rel="noopener noreferrer">Sign in</a></li>
                  <li><a href="/accounts/sign-up/" target="_blank" rel="noopener noreferrer">Sign up</a></li>
                  <li class="langs">
                     <div class="dropdown" id="language-picker">
                        <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/img/flags/en.png" alt="en">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="language-dropdown">
                           <button class="dropdown-item" href="#" data-value="he">
                           <img src="/static/img/flags/he.png" alt="he">
                           </button>
                        </div>
                     </div>
                  </li>
               </ul>
            </nav>
             <div class="right d-none d-lg-flex">
                    <!-- <form action="/language-change/" method="post" name="language-picker"><input type='hidden' name='csrfmiddlewaretoken' value='v7q6uCT4CCSRsBN2W3djhRlD34vtdo4EMWARQNb5V9UANy3ZdF0bgRDV3NOlaKuQ' />
                       <input name="next" type="hidden" value="https://npcoding.investmart.initech.host/" />
                       <input name="language" type="hidden" value="en">
                    </form> -->
                    <div class="dropdown" id="language-picker">
                       <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <img src="https://npcoding.investmart.initech.host/static/img/flags/en.png" alt="en">
                       </button>
                       <div class="dropdown-menu" aria-labelledby="language-dropdown">
                          <button class="dropdown-item" href="#" data-value="he">
                          <img src="https://npcoding.investmart.initech.host/static/img/flags/he.png" alt="he">
                          </button>
                       </div>
                    </div>
                    <ul class="desktop-menu d-none d-lg-flex navbar-nav flex-row align-items-center right" role="menu">
                       <li class="nav-item dropdown" role="menuitem">
                          <a class="nav-link dropdown-toggle" href="#" id="About-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="About">
                          About
                          </a>
                          <div class="dropdown-menu position-absolute" aria-labelledby="About-menu" role="menu">
                             <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/about-en/" title="Who We Are">Who We Are</a>
                             <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/our-values-en/" title="Our Values">Our Values</a>
                             <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/the-investmart-platform-en/" title="The Platform">The Platform</a>
                             <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/management-services-en/" title="Management Services">Management Services</a>
                             <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/help-centre-faqs-en/" title="FAQs">FAQs</a>
                          </div>
                       </li>
                       <li class="nav-item" role="menuitem">
                          <a href="https://en.npcoding.investmart.initech.host/how-it-works-en/" title="How it Works">How it Works</a>
                       </li>
                       <li class="nav-item" role="menuitem">
                          <a href="https://en.goinvestmart.com/contact/" title="‏Contact us">‏Contact us</a>
                       </li>
                    </ul>
                 </div>
                 <div class="navbar-brand text-center m-0">
                    <a href="/">
                    <img src="https://npcoding.investmart.initech.host/static/img/logo.svg" alt="Investmart">
                    </a>
                 </div>     
                 <div class="left d-none d-lg-flex">
                        <ul class="desktop-menu d-none d-lg-flex navbar-nav flex-row align-items-center left" role="menu">
                           <li class="nav-item dropdown" role="menuitem">
                              <a class="nav-link dropdown-toggle" href="#" id="Learn-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Learn">
                              Learn
                              </a>
                              <div class="dropdown-menu position-absolute" aria-labelledby="Learn-menu" role="menu">
                                 <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/real-estate-calculation-excel-templates/" title="Calculators">Calculators</a>
                                 <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/investmart-ebook-your-guide-overseas-property-markets/" title="Investing Ebook">Investing Ebook</a>
                                 <a class="dropdown-item" role="menuitem" href="https://en.npcoding.investmart.initech.host/blog-en/" title="‏Investmart Blog">‏Investmart Blog</a>
                              </div>
                           </li>
                           <li class="nav-item" role="menuitem">
                              <a href="https://en.npcoding.investmart.initech.host/property-market-analysis-en/" title="Analyse">Analyse</a>
                           </li>
                           <li class="nav-item" role="menuitem">
                              <a href="https://en.npcoding.investmart.initech.host/projects-en/" title="Invest">Invest</a>
                           </li>
                        </ul>
                        <div class="auth-links">
                           <a class="d-none d-lg-inline in-simple-link px-1 text-dark" href="/accounts/sign-in/">Sign in</a>
                           <a class="btn btn-outline-dark d-none d-lg-inline" href="/accounts/sign-up/">Sign up</a>
                        </div>
                     </div>
     </nav>
    <div class="container-fluid" style="height: 100%;">
        <div class="row">
            <div class="col-0"></div>
            <div class="col-12" id="map">
            </div>
            <div class="col-0"></div>
        </div>
        <div class="row">
                <div class=""
                style="top:96px;position: absolute;width: 100%;padding-left:50px;padding-right: 50px;text-align: end">
                <nav class="navbar navbar-dark bg-transparent" style="height:60px;">
                    <a class="" href="/" style="border: 2px;"></a>
                    <!-- <a class="" href="/adminpanel" style=""><button class="btn btn-sm btn-outline-secondary"
                            style="background-color:aliceblue" type="submit">
                            <h3>Admin panel</h3>
                        </button></a> -->
                </nav>
            </div>
        </div>
        <div class="" style="position: absolute;top:200px;width: 100%;">
            <div class="container" style="width:60%;height:auto;padding: 30px;border-radius: 50px;">
                    <!-- background-color: #9dbfb396; -->
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10" >
                        <!-- <h1 class="display-4" style="text-align:center;">My Map</h1> -->
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        {% csrf_token %}
                        <input class="form-control" id="search_place" name="search_place" type="text" placeholder="Search..." />
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: white;">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="search-results " style="width:100%;">
                    <div id='search-results'>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <footer class="container-fluid footer" style="min-height: 0% !important" >
                <div class="row">
                   <div class="contact col-12 col-lg-3 d-flex align-items-start align-items-lg-center justify-content-center flex-lg-row">
                      <a class="phone" href="tel:+972 3-611-1888">
                      +972 3-611-1888 <i class="fa fa-phone"></i>
                      </a>
                      <div class="mail">
                         <a href="/contact/">
                         <i class="fa fa-envelope"></i>
                         </a>
                      </div>
                      <div class="fb-url">
                         <a target="_blank" href="https://www.facebook.com/InvestmartUK/">
                         <i class="fa fa-facebook-square"></i>
                         </a>
                      </div>
                   </div>
                   <div class="menu col-12 col-lg-6" role="navigation">
                      <div class="row">
                         <div class="col-12 d-flex flex-row flex-wrap align-items-start align-items-lg-center justify-content-center text-center">
                            <a href="https://en.npcoding.investmart.initech.host/terms-en/" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
                            <a href="https://en.npcoding.investmart.initech.host/privacy-policy-en/" title="Privacy Policy">Privacy Policy</a>
                         </div>
                         <div class="col-12">
                            <p class="text-center">All rights reserved to Investmart ltd. (© 2018)</p>
                         </div>
                      </div>
                   </div>
                   <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center">
                      <a class="brand" href="/">
                      <img src="https://npcoding.investmart.initech.host/static/img/logo.svg" alt="Investmart">
                      </a>
                   </div>
                </div>
             </footer>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
             <h4>Change Description</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             <p class="desc"></p>
            <textarea name="description_status" id="description_status" placeholder="Enter Your Description Here.." style="width: 450px;height: 100px;"></textarea>
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="placeData">Update</button>
          </div>
        </div>
        
      </div>
    </div>
    

    <!-- Bootstrap scripts. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"></script>

    <!-- Google Maps scripts. -->
    <!-- <script src="static/js/script.js"></script> -->
    <script>
    var map;

function createMap () {
  var options = {
    center: { lat: 43.654, lng: -79.383 },
    zoom: 3
  };

  map = new google.maps.Map(document.getElementById('map'), options);

  var input = document.getElementById('search_place');
  var searchBox = new google.maps.places.SearchBox(input);
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  
  searchBox.addListener('places_changed', function () {
    var places = searchBox.getPlaces();

    if (places.length == 0)
      return;

    markers.forEach(function (m) { m.setMap(null); });
    markers = [];

    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(p) {
      if (!p.geometry)
        return;

      markers.push(new google.maps.Marker({
        map: map,
        title: p.name,
        position: p.geometry.location
      }));

      if (p.geometry.viewport)
        bounds.union(p.geometry.viewport);
      else
        bounds.extend(p.geometry.location);
    });
    
    map.fitBounds(bounds);
  });

}  


    
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEHCdvSJx0OAfeOp-MkfXBXVMzOrH64OY&callback=createMap&libraries=places"
        async defer></script>

   <script type="text/javascript">
   
   $(function () {
    $('#search_place').keyup(function () {
      if(event.key === 'Enter') {
        // called when key is pressed and a ajax request will be called in url "search" with JSon object with nessary details for backend
        if ($('#search_place').val() != "") {
         loadDoc($('#search_place').val());
            $.ajax({
                type: "POST",
                url: "search",
                data: {
                    'search_text': $('#search_place').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: searchSuccess,
                dataType: 'html'
            });
        }
        else
        {
            $('#search-results').html("");
        }
      }
    });

});

//Response of the Ajax is rendered in html 
function searchSuccess(data, textStatus, jqXHR) {
    $('#search-results').html(data);
}
function loadDoc(place) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var data = JSON.parse(this.responseText)
      var poly=[];
      var mydata=[];
      s=0;
      var lat=parseFloat(data[s].lat);
      var long=parseFloat(data[s].lon);
      for(i=0;i<data.length;i++){
         if(i==0){
            $.each(data[i],function(index,value){
               if(index=='polygonpoints'){
                     $.each(data[i][index],function(k,v){
                        poly.push(v);
                     })
               }
            });
         }
      }
      for(j=0;j<poly.length;j++){
         mydata.push({
            'lng':parseFloat(poly[j][0]),
            'lat':parseFloat(poly[j][1])
         })
      }
      var map;
      map=new google.maps.Map(document.getElementById('map'),{
         center: {lng: parseFloat(long),lat:parseFloat(lat)},
         zoom:8,
         mapTypeId: google.maps.MapTypeId.ROADMAP,
      });
      var ply=new google.maps.Polygon({
         path:mydata,
         strokeColor:'#FF0000',
         strokeOpacity:0.8,
         strokeWeight:3,
         fillColor:'#FF0000',
         fillOpacity:0.35
      });
      ply.setMap(map);
    }
  };
  xhttp.open("GET", "https://nominatim.openstreetmap.org/search?q='"+place+"'&format=json&polygon=1&addressdetails=1", true);
  xhttp.send();
}
   </script>
    <script>
            $(".mobile.menu-link").on("click", function(){
             $('#mobile-menu').addClass('open');
            });
            
            $("#close-mobile-menu").on("click", function(){
               
             $('#mobile-menu').removeClass('open');
            });
            $("#open-menu").on("click", function(){ 
            });
   </script>
   <script type="text/javascript">
      $(document).on('click','#viewMap',function(){
         lat=$(this).attr('lat');
         long=$(this).attr('long');
         var myLatLng = {lat: parseFloat(lat), lng: parseFloat(long)};
         var map = new google.maps.Map(document.getElementById('map'), {
         		zoom: 16,
         		center: myLatLng,
                mapTypeId: 'terrain'
               });
         var marker = new google.maps.Marker({
         	position: myLatLng,
             map: map,
         });
         var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 4,
            fillColor: '#FF0000',
            fillOpacity: 0.15,
            map: map,
            center:myLatLng,
            radius: Math.sqrt(50) * 100
          });
      });
   </script>
   <script type="text/javascript">
      function addToValues(key){
         $('.desc').text($('.descdata'+key).val());
         $('#placeData').attr('myPlace',key);
      }
      function setPlace(key){
         $('#UploadImage').attr('placeId',key);
      }
   </script>
   <script type="text/javascript">
    $(document).on('click','#placeData',function(){
       if($('#description_status').val()==""){
          alert("Please Enter Description");
          return false;
       }
       mydata=$(this).attr('myplace')
      $.ajax({
         type: "POST",
         url: "updateDescription",
         data: {
            'place_id':$(this).attr('myplace'),
            'description':$('#description_status').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
         },
         success:function(response){
            var myid='#desc'+mydata;
            $(myid).append(response);
            $('#description_status').val('');
            alert('Your Response Has Been Recorded Wait For Approvel');
            $("#myModal .close").trigger('click');
         }
      });

    });
    $(document).on('click','#UploadImage',function(){
      var file=$('#myfile').prop('files')[0];
         if(file){
            var data=new FormData();
            data.append('file',file);
            data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
            data.append('placeId',$(this).attr('placeId'));
            data.append('img',($('#isImage').is(':checked')) ? 1 : 0)
            data.append('vdo',($('#isVideo').is(':checked')) ? 1 : 0)
            $.ajax({
               type        : "POST",
               url         : "uploadFile",
               data        : data,
               async       : true,
               cache       : false,
               contentType : false,
               processData : false,
               enctype     : 'multipart/form-data',
               success:function(response){
                 alert(response);
                 $("#myModalimage .close").trigger('click');
               }
            });
         }else{
            alert("Please Select File");
            return false;
         }  
    });
    $(document).on('click','#isImage',function(){
      if($(this).is(':checked')){
         $('#isVideo').prop('checked',false);
      }else{
         $('#isVideo').prop('checked',true);
      }
    });
    $(document).on('click','#isVideo',function(){
      if($(this).is(':checked')){
         $('#isImage').prop('checked',false);
      }else{
         $('#isImage').prop('checked',true);
      }
    });
    $(document).on('change','#myfile',function() {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp','mp4','3gp'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : "+fileExtension.join(', '));
            $(this).val('');
        }
    });
   </script>
</body>

</html>